.bg-color{
    background-color: aqua;
}
body{
    padding: 100px;
    
}

.submit-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
}
#transaction-area{
   display: none;
}
#transaction-area-2{
    display: none;
}
.col-md-3{
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin: auto;
    padding-inline-start: 25px;
    margin-top: 50px;
}
.col-md-5{
    background-color: white;
    margin: auto;
       
}
.deposit-withdraw-btn{
    margin-top: 20px;
}
